html {
    background-color: #74000B;
    border: 80px solid #000000  ;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000000;
}

div a {
    color: #ffeaec;
    text-decoration: none;
    padding: 30px;
}

p {
    width: 50%;
    margin: auto;
    padding: 25px;
    border:#ffc400 double 10px;
    color: #ffeaec;
    text-align: left;
}

.artFlexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: #ffc400 double 8px;
}

.blinkgif {
    width: 550px;
}

.tallIMG {
    padding-top: 50px;
    height: 800px;
    justify-content: center;
    border-left: #ffc400 double 8px;
    border-right: #ffc400 double 8px;
    
}

.leftIMG {
    width: 463px;
    justify-content: left;
    padding-top: 380px;
    border-left: #000000 solid 2px;
}

.rightIMG {
    width: 463px;
    justify-content: right;
    padding-top: 380px;
    border-right: #000000 solid 2px;
}

.blinkgif {
    display: block;
    margin: auto
}

footer {
    text-align: center;
    color: #ffeaec;
    padding-top: 15px;

}

footer a {
    color: #ffeaec;
    text-decoration: none;
}