html {
    background-color: #74000B;
    border: 80px solid #000000;
    
    font-family: 'Patrick Hand';
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000000;
}

.navBar a {
    color: #ffeaec;
    text-decoration: none;
    padding: 30px;
    color: #ffeaec;

    font-size: 20px;
}

p {
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 25px;
    border:#ffc400 double 10px;
    color: #ffeaec;
    text-align: left;

    font-family: 'Patrick Hand';
    font-size: 22px;
    font-weight: 500;
}

.artFlexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: #ffc400 double 8px;
    align-items: baseline;
}

.blinkgif {
    width: 40%;
    object-fit: contain;
}

.tallIMG {
    padding-top: 50px;
    max-width: 98%;
    object-fit: contain;
    border-left: #ffc400 double 8px;
    border-right: #ffc400 double 8px;

    object-fit: contain;
    
}

.leftIMG {
    padding-top: 400px;
    max-width: 100%;
    object-fit: contain;
    
}

.rightIMG {
    padding-top: 400px;
    max-width: 100%;
    object-fit: contain;
}

.blinkgif {
    display: block;
    margin: auto
}

/*footer*/

footer {
    justify-content: center;
    text-align: center;
    margin: auto;
    
    font-size: 18px;
    font-weight: 300;
    color: #ffeaec;
    padding-top: 50px;
}

footer p {
    color: #ffeaec;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


footer a{
    text-align: center;
    font-size: 18px;
    font-weight: 400;

    color: #ffeaec;
    text-decoration: none;
}