html {
    background-color: #74000B;
    border: 80px solid #000000;
    
    font-family: 'Patrick Hand';
    color: #ffeaec;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000000;
}

.navBar a {
    color: #ffeaec;
    text-decoration: none;
    padding: 30px;

    font-size: 20px;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 25px;
}

p {
    font-size: 24px;
    font-weight: 400;
    
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 25px;
    
}

.flexCavener {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    border: #ffc400 solid 2px;
    align-items: baseline;
}

.flexCavener img {
    max-width: 100%;
    height: 400px;
    object-fit: contain;
}

.flexYu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    border: #ffc400 solid 2px;
    align-items: baseline;
}

.flexYu img {
    max-width: 100%;
    object-fit: contain;
}

.flexGlaive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    border: #ffc400 solid 2px;
    align-items: baseline;
}

.flexGlaive img {
    max-width: 100%;
    object-fit: contain;
}

/*add footer!*/

footer {
    justify-content: center;
    text-align: center;
    margin: auto;
    
    font-size: 18px;
    font-weight: 300;
    color: #ffeaec;
    padding-top: 50px;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


footer a{
    text-align: center;
    font-size: 18px;
    font-weight: 400;

    color: #ffeaec;
    text-decoration: none;
}