html {
    background-color: #74000B;
    border: 80px solid #000000;

    color: #ffeaec;
    font-family: 'Patrick Hand';
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000000;
}

.navBar a {
    color: #ffeaec;
    text-decoration: none;
    padding: 30px;
    color: #ffeaec;

    font-size: 20px;

}

p {
    text-decoration: none;
    padding: 30px;

    font-size: 22px;
    font-weight: 300;
}

/*everything above this should be on all css style sheets!!
remember to add footer too*/

/*tried my best to condense but things broke when i tried?? this is the end result*/

ol {

    color: #ffeaec;
    text-decoration: none;
    padding: 30px;
    justify-content: center;
}

.oList {
    border-right: #ffc400 double 8px;
}

ul {

    text-decoration: none;
    padding: 30px;
    justify-content: center;
}


.flexLists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    border: #ffc400 double 8px;
}

.flexLists div { /*this took way too long to figure out,,, makes the flexbox children the same size*/
    flex-basis: 100%
}



ol p {
    padding-top: 35px;
    list-style-position: inside;
    align-items: center;
}

ol img {
    width: 30%;
    object-fit: contain;
}

ul p {
    padding-top: 35px;
}

ul img {
    width: 30%;
    object-fit: contain;
}

img {
    border: #000000 solid 8px;
}

/*footer below!!*/

footer {
    justify-content: center;
    text-align: center;
    margin: auto;
    
    font-size: 18px;
    font-weight: 300;
    color: #ffeaec;
    padding-top: 50px;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


footer a{
    text-align: center;
    font-size: 18px;
    font-weight: 400;

    color: #ffeaec;
    text-decoration: none;
}